<!DOCTYPE html>
<html>
    <head>
        <title>Instagram - Login</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
         <main>
             <div class="banner">
                 <img src="/img/banner-login.png" alt="Banner logo com celular">
             </div>
             <div class="centro">  
                <div class="login">
                    <img src="/img/logo.png" alt="Instagram" class="logo">
                   <div class="local">
                    <form class="formato">
                        <input type="email" name="email" id="email" placeholder="nome de usuário ou email">
                         <input type="password" name="senha" id="senha" placeholder="senha">
                         <button type="submit"> <a href="post.ejs"> Entrar </a></button>
                    </form>

                   </div>
                   
                    </div>
                    <div class="cta-cadastro">
                        <p>Não tem uma conta? <a href="registro.ejs"><strong> Cadastre-se </strong></a></p>
                    </div>
            
            </div>
         </main>
    </body>
</html>