<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Instagram - Cadrastro</title>
    <link rel ="stylesheet" href="/css/registro.css">
</head>
<body>
   <main>
    <div class="banner2">
        <img src="img/banner-login.png" alt="Banner logo com celular">
    </div>
    <div class="centro">
        <div class="registro">
            <img src="img/logo.png" alt="Instagram" class="logo">
             <div class="local">
                 <form action="/usuarios" method="POST">
                 <form class="formato">
                    <input type="nome" name="nome" id="nome" placeholder="nome">
                    <input type="email" name="email" id="email" placeholder="email">
                    <input type="password" name="senha" id="senha" placeholder="senha">
                    <input type="password" name="confirmarsenha" id="confirmarsenha" placeholder="confirmarsenha">
                    <button type="submit">Cadrastra - se <a href="login.ejs"></a></button>
                    <p>Ao se cadastrar, você concorda com nossos <a href="">Termos, Política de Dados e Política de Cookies.</a></p>

                 </form>
                </form>

             </div>
                 
        </div>

        <div class="cta-cadastro">
            <p>Tem uma conta? <a href="login.ejs"><strong> Conecta - se</strong> </a></p>

        </div>
       

    </div>
   </main>
</body>
</html>